.logo{
    height: 35px;
    width: 200px;
}
.slider-bg{
    background-color: #7b00ff;
}
.carousel-item{
    padding: 60px 60px;
}

.price{
    color: white;
}
.carosol{
    border-radius: 5px;
}
.buynow{
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 20px, 25px;
    background-image:linear-gradient(to bottom,#ebff0a 0%, #ff9d00 100%)
    
    }
    h1,p{
        color: white;
        
    }

    .cat1, .cat2, .cat3{
        padding: 20px 30px;
        border: none;
        border-radius: 5px;
    }
    .cat1{ 
        background-color: red;
    }

    .cat2{ 
        background-color: chartreuse;
    }
    .cat3{ 
        background-color: blue;
    }
.catagories{
    padding-top: 30px;
}
.imagee{
    height: 100px;

}
.card-text{
    color: #7b00ff;
    text-align: justify;
}